.FirstDiv {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 10%;
}

.contactImg {
  height: 300px;
}

.contactTextPerentDiv {
  width: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactText {
  font-size: 46px;
  font-weight: 600;
  color: #836be2;
}

.contactLineText {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  color: #5a4f82c5;
  line-height: 30px;
}

.ResumeBtnDiv {
  margin-top: 25px;
}

.ResumeBtn {
  text-decoration: none;
  padding: 10px 30px 15px;
  background-color: #836be2;
  color: white;
  border-radius: 5px;
  transition-duration: 0.4s;

  &:hover {
    background-color: white;
    color: #836be2;
    border: solid thin #836be2;
  }
}

@media (max-width: 970px) {
  .FirstDiv {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .contactImg {
    height: 180px;
    width: 100%;
  }

  .contactTextPerentDiv {
    width: 100%;
    padding: 0 20px;
    margin-top: 30px;
  }

  .contactText {
    font-size: 36px;
  }
}
