.main_home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left_main {
  text-align: start;
  margin-top: 120px;
}

.fb {
  color: #2f2e35;
  border-radius: 50%;
  font-size: 1.3rem;
  padding: 0.7rem 1rem;
  box-shadow: inset 0px 5px 15px -5px #ddd, 0px 5px 15px -5px #ddd;
  transition-property: all;
  transition-duration: 0.6s;
}

.fb:hover {
  color: white;
  background-color: blue;
}

.insta {
  margin-left: 30px;
  color: #2f2e35;
  border-radius: 50%;
  font-size: 1.6rem;
  padding: 0.6rem 0.7rem;
  box-shadow: inset 0px 5px 15px -5px #ddd, 0px 5px 15px -5px #ddd;
  transition-property: all;
  transition-duration: 0.6s;
}

.insta:hover {
  background-color: red;
  color: white;
}

.git {
  margin-left: 30px;
  color: #2f2e35;
  border-radius: 50%;
  font-size: 1.6rem;
  padding: 0.6rem 0.7rem;
  box-shadow: inset 0px 5px 15px -5px #ddd, 0px 5px 15px -5px #ddd;
  transition-property: all;
  transition-duration: 0.6s;
}

.git:hover {
  color: white;
  background-color: black;
}

.explore {
  margin-top: 30px;
  text-decoration: none;
  border: solid 2px #836be2;
  border-radius: 30px;
  padding: 11px;
  width: 150px;
  color: #836be2;
  transition-property: all;
  transition-duration: 1s;
}

.explore:hover {
  background-color: #836be2;
  color: white;
}

.imgg {
  height: 35vh;
  margin-top: 150px;
  animation-name: abc;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes abc {
  form {
    margin-top: 120px;
  }
  to {
    margin-top: 180px;
  }
}

.secondMianDiv {
  display: flex;
  justify-content: space-evenly;
  margin-top: 210px;
}

.DevelopmentImg {
  height: 400px;
}

.iconDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.fullStackText {
  font-size: 40px;
  margin-top: 30px;
}

.lenIcon {
  max-height: 50px;
  width: 15%;
  margin-top: 40px;
}

.introLenTextDiv {
  margin-top: 50px;
}

.introLenText {
  font-size: 20px;
  color: rgb(131, 107, 226);
  margin-top: 5px;
}

.footer1 {
  display: none;
}

@media (max-width: 970px) {
  .main_home {
    flex-direction: column;
  }

  .left_main {
    text-align: center;
    position: absolute;
    top: 180px;
  }

  .imgDiv {
    order: -1;
  }

  .imgg {
    height: 20vh;
    display: flex;
    margin: auto;
    margin-top: 40px;
  }

  @keyframes abc {
    form {
      margin-top: 30px;
    }
    to {
      margin-top: 70px;
    }
  }

  .secondMianDiv {
    display: block;
    position: absolute;
    top: 430px;
    text-align: center;
    width: 100%;
  }

  .DevelopmentImg {
    height: 220px;
  }

  .fullStackText {
    font-size: 35px;
  }

  .introLenText {
    text-align: start;
    font-size: 18px;
    padding: 0 35px;
  }

  .lenIcon {
    width: 33.33%;
  }

  .footer1 {
    display: block;
  }

  .footer2 {
    display: none;
  }
}
